[Desktop Entry]
Type=Application
Name=Ahadis
GenericName=Ahadis
Terminal=false
TryExec=ahadis
Exec=ahadis
Icon=com.github.yucefsourani.Ahadis.png
Categories=Education;Literature;GTK;
StartupNotify=false
